@model Dictionary<int, ViewUser>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store - Users</title>
    <link rel="stylesheet" href="~/css/users.css">
</head>
<body>
    <div class="top-buttons">
        <form asp-action="SignOut" asp-controller="Account" method="post">
            <button type="submit">Sign Out</button>
        </form>
    </div>
    <h1>Users</h1>
    <form method="post" action="@Url.Action("Index", "Admin")">
        <button type="submit">Back to admin panel</button>
    </form>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <h2>List of users:</h2>
    @if (Model != null && Model.Any())
    {
        <div id="userList">
            @foreach (var user in Model)
            {
                <div class="user">
                    <h3>@user.Value.Username</h3>
                    <form method="post" asp-action="DeleteUser" asp-controller="Admin">
                        <input type="hidden" name="userId" value="@user.Key" />
                        <button type="submit">Delete</button>
                    </form>
                </div>
            }
        </div>
    }
    else
    {
        <p>No users found.</p>
    }

</body>
</html>

