body {
  background-color: #1a1f2d;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #e0f7fa;
  margin-top: 30vh;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: center;
}

label {
  font-size: 20px;
  margin-top: 20px;
  display: block;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid #444;
  background-color: #2a2f40;
  color: #e0f7fa;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border-radius: 0;
  height: auto;
  line-height: normal;
  vertical-align: middle;
  background-color: #1565C0;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #1e88e5;
}

#results {
  margin-top: 20px;
}

.product {
  background-color: #2a2f40;
  color: #e0f7fa;
  padding: 10px;
  margin: 10px;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

p {
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.alert {
  padding: 15px;
  margin-top: 20px;
  background-color: #00796B;
  color: #e0f7fa;
  border-radius: 0;
  font-size: 16px;
}

.alert-success {
  background-color: #1b5e20;
}

.top-buttons {
  text-align: right;
  margin-right: 20px;
}
